body {
    background-color: #FFFEEE;
}
footer {
    height: 2em;
}
.remove-note {
    cursor: pointer;
}
.page-header {
    font-family: 'Jockey One', sans-serif;
}
.container {
    padding: 0.2em;
}
