<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form name="newNoteForm" ng-submit="addNewNote()" novalidate>
        <fieldset>
          <div class="control-group">
            <input name="subject" type="text" class="form-control" ng-model="note.subject" placeholder="Subject" required/>
            <textarea name="body" class="form-control"  ng-model="note.body" placeholder="your note goes here" requiredk></textarea>
            <input type="submit" class="form-control btn btn-primary" ng-disabled="newNoteForm.$invalid" value="Add">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="btn btn-secondary" data-toggle="modal" data-target=".about-modal">About</li>
    <li><input type="text" ng-model="query" class="form-control" placeholder="search"></li>
  </ul>
</div>

<div class="container" ng-show="notes.length">
  <ul class="listed-group-items" ng-repeat="note in notes | filter:query">
    <li>
      <div class="panel panel-default">
        <div class="panel-heading" >
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-remove remove-note" title="remove" ng-click="updateNote(note.note_id)"></span>
            <b>{{note.subject}}</b>
            <small>{{note.modification_time | date:'yyyy/MM/dd HH:mm:ss'}}</small>
          </h3>
        </div>
        <div class="panel-body">
          <blockquote>
            {{note.body}}
          </blockquote>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="container" ng-hide="notes.length">
  <div class="panel panel-default">
    <h5 class="text-center">You don't have any notes.</h5>
  </div>
</div>

<div class="modal fade about-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="(k,v) in about"><span style="text-transform: capitalize; font-weight: bold;">{{k}}</span>: {{v}}</li>
      </ul>
    </div>
  </div>
</div>
